.bg-costum-dark{
    background-image:  linear-gradient(rgba(0,0,0, .8),rgba(0,0,0, .8)), url('../img/main_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: local;
}
#hero .container{
    height: 50vh;
}
.generic{
    padding: 100px 0px;
}
